.terminal {
  width: 991px;
  height: 575px;
  padding: 1rem;

  font-size: 1.2rem;
  font-family: 'Fira Code', monospace;
  background: var(--primary-bg);
  box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.4);
  border-radius: 9px;
}

header {
  display: flex;
  gap: 10px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: var(--secondary-bg) 2px solid;
}

.welcome {
  display: inline-block;
}

.btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.red {
  background: var(--red);
}
.yellow {
  background: var(--yellow);
}
.green {
  background: var(--green);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

figure {
  font-size: 0.9rem;
  margin: 0;
}

.options {
  margin: 2.5rem 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 4.5rem;
}
