<pre style="margin: 0;">
                              ,///,                           
                  ///////////////////((////                 
              //////////////////(/(/(((((((((//             
          .////////////(/((((/.  ..  ,.*((((((((//          
        ///////////((((((/. ../##/. ,...  /((((((((//       
      ///////////(((((((.. #%%%%%%(#(..    .*((((((((//     
    /////////((((((((((...#%%%%%%%%%#(*      ((((((((((/,   
   /////////((((((((((....*(*//#%#(/,,,*..    ((((((((((//  
  ////////(((((((((((((..#(..**#%%(/,..*/*,   (((((((((((// 
 ((///////(((((((((((((((%%&&%%%%%(##%%%(/,..(((((((((((((//
 (////////(((((((((((((((#%%%%%##(/((###(*,.*((((((((((((((/
 (////////(((((((((((((((#####%%%%#((((/*,*((((((((((((((((/
((/////////(((((((((((((((#%%%##&%#/((#/*((((((((((((((((((/
 (////////////(((((((((((((*(##(///*//...//////////((((((((/
 (//////////////////((((((((*,(#(#((,..,,. *********////(((/
 ((///////////////////////(,(#*,,.....,***%#/,*********////*
  (///////////////////////%&(##(*//,*///#/%##.......******* 
   ((//////////////////.&&&&&*%&((/(#(*#/###.............*  
    *(////////////.......&&/%(&##((&&%/%#&..............    
      ((//////.............&&%&&%&%%(%&&...............     
        ((///.................@&&&%&*&...............       
           (,.....................................          
              ,,..............................,             
                  .,,,.................,,,.          
</pre>
