---
layout: layouts/base.njk
title: Justin's Website 🤙
scripts:
  - scripts/typer.js
---
<div class='terminal'>
  <header>
    <div class='btn red'></div>
    <div class='btn yellow'></div>
    <div class='btn green'></div>
  </header>
  <main>
    <section class='welcome'>
      {% renderFile 'src/_includes/components/typer.html' %}
    </section>
    <section class='content'>
      <div class='options'>
        <h1>&lt;/&gt; Justin Lambert</h1>
        <nav>
          <a>🏠 Home</a>
          <a>🧑🏻‍💻 About</a>
          <a>💻 Work</a>
          <a>📱 Contact</a>
        </nav>
      </div>
      <figure>
        {% renderFile 'src/_includes/components/profile.html' %}
      </figure>
    </section>
  </main>
</div>
